<%- include("partials/nav.ejs") %>

    <body>
        <div class="container my-4 ">
            <div class="custom-left col-6 px-4">
                <blockquote class="blockquote text-start">
                    <p class="mb-0">
                        India presents a wide array of business opportunities for entrepreneurs.
                        Some of the most promising sectors include e-commerce, tourism, the IT
                        sector, and the growing demand for organic farming and sustainable
                        solutions. Low-investment options like dropshipping, freelance services,
                        and home-based businesses such as baking or crafting are also gaining
                        traction.
                    </p>
                    <p>
                        <strong> Sectors and opportunities:</strong>
                        <p>IT and IT Services:</p>
                        India is a global leader in IT services, with a large pool of skilled professionals and a
                        thriving startup ecosystem. <br>
                        Tourism: <br>
                        The tourism industry contributes significantly to the Indian economy and offers various business
                        opportunities, from hospitality to travel <br> <br>
                        <p>Manufacturing:</p>
                        India is focusing on strengthening its manufacturing capabilities, making it an attractive
                        destination for businesses looking to set up or expand their production facilities.
                        <br> <br>
                        <p>Agriculture:</p>
                        Agriculture remains a vital sector, and there are opportunities for businesses involved in
                        organic farming, food processing, and agricultural technology.
                        <br> <br>
                        <p>Small Business Ideas:</p>
                        Low-investment options include food trucks, online retail, freelance services, and handmade
                        crafts.
                    </p>
                    <br>
                    <hr>
                </blockquote>
            </div>
        </div>
    </body>

    </html>