<%- include("partials/nav.ejs") %>

<body>
  <div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img 
        src="/images/hinduism.jpg" 
        class="d-block mx-lg-auto img-fluid img-responsive"
        alt="Bootstrap Th"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        HINDUISM
      </h1>
      <p class="lead">
        Hinduism is a diverse set of religious and spiritual traditions, originating in the Indian subcontinent, that share a core belief in dharma, a cosmic order maintained through righteous living and rituals. It encompasses a wide range of beliefs and practices, with no single founder, central authority, or binding holy book. Hinduism is often described as a "way of life" due to its emphasis on dharma and its influence on Indian culture and society. 
      </p>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img 
        src="/images/jainism.jpg" 
        class="d-block mx-lg-auto img-fluid img-responsive"
        alt="Bootstrap Th"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        JAINISM
      </h1>
      <p class="lead">
        Jainism is an ancient Indian religion emphasizing non-violence (ahimsa), self-discipline, and liberation from the cycle of rebirth (moksha). It teaches that every living being has a soul and advocates for minimizing harm to all life forms. Jainism is known for its strict vegetarianism and emphasis on asceticism. 
      </p>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img 
        src="/images/sikhism.jpg" 
        class="d-block mx-lg-auto img-fluid img-responsive"
        alt="Bootstrap Th"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        SIKHISM
      </h1>
      <p class="lead">
        Sikhism is an Indian religion and philosophy[8] that originated in the Punjab region of the Indian subcontinent around the end of the 15th century CE. It is one of the most recently founded major religions and among the largest in the world with about 25–30 million adherents, known as Sikhs.
      </p>
    </div>
  </div>
</div>
</body>
</html>
