<%- include("partials/nav.ejs") %>

    <body>
        <div class="container my-4 ">
            <div class="custom-left col-6 px-4">
                <blockquote class="blockquote text-start">
                    <p class="mb-0">
                        Indian politics encompasses the system of government and political activities within India. It
                        is a parliamentary democracy with a federal structure, where power is divided between the
                        central government and state governments. The Constitution of India, adopted in 1950, is the
                        supreme law of the land and establishes India as a sovereign, socialist, secular, and democratic
                        republic.
                    </p>
                    <p>
                        <strong>Key Aspects of Indian Politics:</strong>
                    <p>Parliamentary System:</p>
                    India follows a Westminster-style parliamentary system, with a bicameral legislature (Rajya Sabha and
                    Lok Sabha). <br>
                    Federal Structure: <br>
                    Power is shared between the central government and the state governments, each with its own sphere
                    of influence. <br> <br>
                    <p>Democratic Republic:</p>
                    The head of state is the President, while the head of government is the Prime Minister.
                    <br> <br>
                    <p>Multi-Party System:</p>
                    ndia has a multi-party system, with various national and regional political parties competing for
                    power.
                    <br> <br>
                    <p>Constitutional Supremacy:</p>
                    The Indian Constitution is the supreme law, and all other laws must conform to it.
                    </p>
                    <br>
                    <hr>
                </blockquote>
            </div>
        </div>
    </body>

</html>