<%- include("partials/nav.ejs") %>
<body>
  <section id="technology">
    <div class="container">
      <div class="container1">
        <div class="item">
          <img src="/images/aiml.jpg" alt="" />
          <h3>AIML</h3>
          <p>
            AIML is a specialized markup language based on XML used for creating
            conversational agents like chatbots.
          </p>
        </div>
        <div class="item">
          <img src="/images/blockchain.png" alt="" />
          <h3>BLOCKCHAIN</h3>
          <p>
            Blockchain is a shared, immutable ledger that facilitates the
            process of recording transactions and tracking assets across a
            network
          </p>
        </div>
        <div class="item">
          <img src="/images/ds.jpg" alt="" />
          <h3>DATASCIENCE</h3>
          <p>
            Blockchain is a shared, immutable ledger that facilitates the
            process of recording transactions and tracking assets across a
            network
          </p>
        </div>
        <div class="item">
          <img src="/images/cybersecurity.jpg" alt="" />
          <h3>CYBERSECURITY</h3>
          <p>
            Blockchain is a shared, immutable ledger that facilitates the
            process of recording transactions and tracking assets across a
            network
          </p>
        </div>
      </div>
    <div>
  </section>
</body>
</html>